<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% locals.title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!--header-->
    <header>
        <div class="container">
            <h1>
                <button data-animation-scroll="true" data-target="#main"><img src="/images/main.png.png" alt=""></button>
            </h1>
            <nav>
                <ul>
                    <li>
                        <button data-animation-scroll="true" data-target="#about">About</button>
                    </li>
                    <li>
                        <button data-animation-scroll="true" data-target="#Features">Features</button>
                    </li>
                    <li>
                        <button data-animation-scroll="true" data-target="#portfolio">Portfolio</button>
                    </li>
                    <li>
                        <button data-animation-scroll="true" data-target="#contact">Contact</button>
                    </li>
                </ul>
            </nav>
            <div class="header-button">
                <a href="/admin">관리자 로그인</a>
            </div>
        </div>
    </header>
    <!--main-->
    <main id="main">
        <div class="container">
            <h4>Welcome</h4>
            <h2> <span></span></h2>
            <p>산업의 성장의 필수적인 smart factory <br>
                "Discover the Power of Automation – Start Today!"
            </p>
            <!-- 정밀한 자동화, 품질의 차이를 만듭니다. -->
            <button class="btn-5" data-animation-scroll="true" data-target="#contact">
                <span>CONTACT US</span>
            </button>
            <button class="mouse">
                <i class="fa-solid fa-computer-mouse"></i>
            </button>
        </div>

    </main>
    <!--about-->
    <section id="about">
        <div class="container">
            <div class="title">
                <h4>Who Am I</h4>
                <h2>About me</h2>
            </div>

            <div class="about-self">
                <div class="left">
                    <img src="/images/about.img.jpg" alt="내사진">
                </div>
                <div class="right">
                    <h3>Hello, <strong>I'm Sucoding</strong></h3>
                    <p>I'm Web Publisher And Web Front-End Developer.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe veritais aperiam accusntium.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe veritais aperiam accusntium.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe veritais aperiam accusntium.</p>
                    <div class="social">
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-twitch"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--what i do-->
    <section id="Features">
        <div class="container">
            <div class="title">
                <h4>Features</h4>
                <h2>What I Do</h2>
            </div>
            <div class="do-me">
                <div class="do-inner">
                    <div class="icon">
                        <i class="fa-brands fa-html5"></i>
                    </div>
                    <div class="content">
                        <h3>HTML5</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolor quas nulla unde ea
                            officiis?</p>
                    </div>
                </div>
                <div class="do-inner">
                    <div class="icon">
                        <i class="fa-brands fa-css3-alt"></i>
                    </div>
                    <div class="content">
                        <h3>CSS3</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolor quas nulla unde ea
                            officiis?</p>
                    </div>
                </div>
                <div class="do-inner">
                    <div class="icon">
                        <i class="fa-brands fa-bootstrap"></i>
                    </div>
                    <div class="content">
                        <h3>BootStrap v5.0</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolor quas nulla unde ea
                            officiis?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--background-->
    <div class="bg"></div>
    <!--portfolio-->
    <section id="portfolio">
        <div class="container">
            <div class="title">
                <h4>PORTFOLIO</h4>
                <h2>PortFolio</h2>
            </div>
            <div class="portfolio-me">
                <div class="portfolio-inner">
                    <img src="../images/mock1.jpg" alt="샘플 이미지1">
                    <strong>BRANDING</strong>
                    <h3>Package Desing</h3>
                </div>
                <div class="portfolio-inner">
                    <img src="../images/mock2.jpg" alt="샘플 이미지2">
                    <strong>DEVELOPMENT</strong>
                    <h3>Tablet App Dev</h3>
                </div>
                <div class="portfolio-inner">
                    <img src="../images/mock3.jpg" alt="샘플 이미지3">
                    <strong>MARKETING</strong>
                    <h3>Coka Cola</h3>
                </div>
                <div class="portfolio-inner">
                    <img src="../images/mock4.jpg" alt="샘플 이미지4">
                    <strong>APP</strong>
                    <h3>FaceBook Clone</h3>
                </div>
                <div class="portfolio-inner">
                    <img src="../images/mock5.jpg" alt="샘플 이미지5">
                    <strong>APP</strong>
                    <h3>Netflix Clone</h3>
                </div>
                <div class="portfolio-inner">
                    <img src="../images/mock6.jpg" alt="샘플 이미지6">
                    <strong>WEB</strong>
                    <h3>FirmBee Web</h3>
                </div>
            </div>
        </div>
    </section>
    <!--contact-->
    <section id="contact">
        <div class="container">
            <div class="title">
                <h4>CONTACT</h4>
                <h2>Contant With me</h2>
            </div>

            <div class="contact-me">
                <div class="left">
                    <div class="card">
                        <div class="icon">
                            <i class="fa-solid fa-phone-volume"></i>
                        </div>
                        <div class="info-text">
                            <h3>phone</h3>
                            <p>010-1234-5678</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="icon">
                            <i class="fa-solid fa-envelope-open-text"></i>
                        </div>
                        <div class="info-text">
                            <h3>email</h3>
                            <p>SAA@naver.com</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="icon">
                            <i class="fa-solid fa-location-crosshairs"></i>
                        </div>
                        <div class="info-text">
                            <h3>address</h3>
                            <p>Samseong-ro, Gangnam-gu, Seoul, Republic of Korea</p>
                        </div>
                    </div>
                </div>


                <div class="right">
                    <form action="#">
                        <div class="form-group">
                            <label for="name">name</label>
                            <input type="text" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">email</label>
                            <input type="text" id="email" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="msg">message</label>
                            <textarea id="msg"></textarea>
                        </div>
                        <button>send</button>
                    </form>

                </div>
            </div>
        </div>
    </section>
    <!--footer-->
    <footer>
        <div class="inner">
            <ul class="menu">
                <li><a href="javascript:void(0)">개인정보처리방침</a></li>
                <li><a href="javascript:void(0)">영상정보처리기기 운영관리 방침</a></li>
                <li><a href="javascript:void(0)">홈페이지 이용약관</a></li>
                <li><a href="javascript:void(0)">위치정보 이용약관</a></li>

            </ul>

            <div class="btn-group">
                <a href="#" class="btn btn--white">찾아오시는 길</a>
                <a href="#" class="btn btn--white">견적문의</a>
                <a href="#" class="btn btn--white">고객센터</a>
            </div>

            <div class="info">
                <span>SAA(에스에이에이)</span>
                <span>대표자 황우성</span>
                <span>TEL : 070) 8858-9398 / FAX : 051) 831-9398 </span>
                <span>E-mail : saa211227@naver.com </span>
                <p>부산광역시 강서구 대저동서로 229번길 가길 74 (1층 에스에이에이)</p>
                <img src="/images/foo_img.png" alt="" class="logo" />
            </div>


        </div>
    </footer>
    <script src="js/script.js"></script>
</body>

</html>